/* responsive for mobile device */
@media screen and (max-width:570px) {
    /* nav responsive start */
    .max-width{
    width: 90%;
    }
    .menu-links ul{
        display: none;
    }
    .menu-bar{
        display: block;
    }
    /* banner responsive start */
    .banner{
    flex-direction: column-reverse;
    }
    .banner-img img{
        width: 90%;
    }
    .banner-description, .banner-img{
    text-align: center;
    }

    /* sponsors section responsive */
    .sponsors{
    grid-template-columns: repeat(4, 1fr);
    padding: 0 10px;
    }
}